{% extends 'header.html' %}
{% block content %}
{% load static %}
<script src="{% static 'inventory/js/purchase_order.js' %}"></script>
<link href="{% static 'inventory/css/purchase_order.css' %}" rel="stylesheet">

    <!-- <div id='purchase_order_modify'>
        <h1>Some generic modify form</h1>
        <div >
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>
                        <div class="dropdown">
                            <input id='search_vendor' placeholder='First Name Only'> 
                            <div class='dropdown-content' id='vendor_dropdown_data'>
                                <div class="loader" id="loader_id"></div>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div> -->
    
<div class="main-content">
    <div class="card-body">
      <div class="row justify-content-center">     
      <form method="post">
        {% csrf_token %}
        <h1> Edit Purchase Order </h1>
        {{ field.errors }}
        {{ form.as_p }}
        <table>
            <tr>
                <th>
                    <h1>Items</h1>
                </th>
            </tr>
            <tr>
                
        {% for x in item_forms %}
        <th>
            {{ x.as_p }}
        </th>
        
        {% endfor %}
            </tr>
        </table>
        <button type="submit" class="btn btn-primary" onclick="update_order()">Regsiter</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
    
    
<script>
    // $('#search_vendor').on("input", search_vendor);

    function update_order()
    {
        
    }

</script>
{% endblock %}