{% extends 'user_handler/dashboard.html' %}
{% block content %}
{% load static %}
<script src="{% static 'inventory/js/porders.js' %}"></script>

<h1> List Of Purchase Order </h1>

{{ response_json }}
<button onclick="get_purchase_orders()">Get data</button>
<br>
<button onclick="get_purchase_order()">Get data of single purchase order </button>
<br>
<br>
<button onclick="get_vendors()">Get Vendors</button>
<br>
<button onclick="get_vendor()">Get data of single vendor </button>

<br>
<br>
<button onclick="get_items()">Get Items</button>
<br>
<button onclick="get_item()">Get data of single Item </button>


<br>
<br>
<button onclick="add_vendor()">Add Vendor</button>
<br>
<button onclick="delete_vendors()">Delete Vendors</button>
<br>


{% endblock %}