{% extends 'header.html' %}
{% block content %}
{% load static %}
<script src="{% static 'inventory/js/purchase_order.js' %}"></script>
<link href="{% static 'inventory/css/purchase_order.css' %}" rel="stylesheet">

<h1> List Of Purchase Order </h1>


 <div class="container">
    
    <label for="book_name">Search Order:</label>
    <input type="text" id="book_name" required autofocus placeholder="Need search filters">    
    <button type="button" class="btn btn-primary" onclick="search_book()">Search</button>
    
    
    <a href="/land/purchaseorders/create"><button type="button" class="btn btn-success">Create New Purchase Order</button></a>

    <div id='purchase_order_modify'>
        <h1>Some generic modify form</h1>
        <div >
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>
                        <div class="dropdown">
                            <input id='search_vendor' placeholder='First Name Only'> 
                            <div class='dropdown-content' id='vendor_dropdown_data'>
                                <div class="loader" id="loader_id"></div>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div>



    <div id="order_table" class="table-responsive">
            <hr>
        <div class="card shadow">
            <div class="card-header border-0">
                <h4 class="mb-0">Status :  <select id = "select_status" onchange="getPurchaseOrderUsingStatus(this.value,0,10)">

                </select> </h4>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-hover">
                    <tr>
                    <th scope="col">Vendor</th>
                    <th scope="col">Items</th>
                    <th scope="col">Invoiced On</th>
                    <th scope="col">Completed On</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Status</th>
                    </tr>
                <tbody id="order_results">
                </tbody>
            </div>
        </div>
    </div>
</div>

<script>
    $('#search_vendor').on("input", search_vendor);
</script>
{% endblock %}